<div class="employeeManagement-container">
    <div class="allUserCount-PendingReuest">
        <div class="allUsersCount">
            <span>All Users: <span class="count">10,001</span></span>
        </div>
        <div class="pendingRequests">
            <a href="/pending-request" class="pendingRequestsButton">Pending Requests</a>
        </div>
    </div>
    <hr>
    <div class="employee">
        <div class="employeeContainer">
            <app-employee />
            <app-employee />
            <app-employee />
            <app-employee />
            <app-employee />
            <app-employee />
            <app-employee />
            <app-employee />
        </div>
    </div>
</div>
