
<div class="employeeProfile">
    <div class="back">
        <a href="/employee-management">Back</a>         
    </div>
    <div class="employeeProfile-container">
        <div class="topContent">
            <div class="profileNamePosition">
                <div class="employeeProfileAndName">
                    <div class="profileAndActive-Inactive">
                        <img src="https://imgix.ranker.com/user_node_img/37/729391/original/729391-photo-u-1465826673?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=355" alt="employeeImage">
                        <div class="activeAndInactive">
                            <div class="colors"></div>
                            <span>Active</span>
                        </div>
                    </div>
                    <div class="nameAndPosition">
                        <span class="fontsize">John Doe</span>
                        <span class="position">Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="penalty-container">
                <div class="penalty">
                    <div class="penalty-container">
                        <span class="penaltyText">Penalty</span>
                        <span>Total Hours : <span class="hours">8h</span></span>    
                    </div>
                    <hr>
                    <div class="attendanceAndAFK">
                        <div class="bottom"><span>Attendance Penalty : <span class="hourscount">6h</span></span></div>
                        <div><span>AKF Penalty &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span class="hourscount">2h</span></span></div>
                    </div>
                </div>
                <div class="penalty">
                    <div class="penalty-container">
                        <span class="penaltyText">Penalty</span>
                        <span>Total Hours : <span class="hours">8h</span></span>    
                    </div>
                    <hr>
                    <div class="attendanceAndAFK">
                        <div><span>Full Day &nbsp; &nbsp;: &nbsp;&nbsp; <span class="hourscount">01</span></span></div>
                        <div><span>Half Day &nbsp; : &nbsp;&nbsp; <span class="hourscount">01</span></span></div>
                        <div><span>Stick Day &nbsp;: &nbsp;&nbsp; <span class="hourscount">01</span></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="centerContent">
            <div class="col-centerContent">
                <label for="userName">Username</label>
                <input type="text" class="userName" id="userName" value="jone@gmail.com" readonly>
            </div>
            <div class="firstName-lastName">
                <div class="col-centerContent">
                    <label for="firstName">First Name</label>
                    <input type="text" class="firstName" id="firstName" value="jone" readonly>
                </div>
                <div class="col-centerContent">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="lastName" id="lastName" value="Doe" readonly>
                </div>
            </div>
            <div class="col-centerContent">
                <label for="dob">Data of Birth</label>
                <input type="text" class="dob" id="dob" value="2002/11/17" readonly>
            </div>
            <div class="col">
                <span>Birth Certificate</span>
                <a href="" class="downloadButton">Download <mat-icon><span class="material-symbols-outlined">cloud_download</span></mat-icon></a>
            </div>
            <div class="col">
                <span>Image</span>
                <a href="" class="downloadButton">Download <mat-icon><span class="material-symbols-outlined">cloud_download</span></mat-icon></a>
            </div>
        </div>
        <div class="bottomContent">
            <div></div>
            <div class="bottomButtons">
                <div class="cv">
                    <a href="" class="CVdownloadButton">Download CV<mat-icon><span class="material-symbols-outlined">cloud_download</span></mat-icon></a>
                </div>
                <div class="agreement">
                    <a href="" class="agreementDownloadButton">Agreement <mat-icon><span class="material-symbols-outlined">cloud_download</span></mat-icon></a>
                </div>
            </div>            
        </div>
    </div>
</div>