<div class="leave-container">
    <div class="stats">
        <div class="stat-card all">
            <div class="stat-title">All Request</div>
            <div class="stat-value All">30</div>
        </div>
        <div class="stat-card approved">
            <div class="stat-title">Approved Request</div>
            <div class="stat-value Approved">10</div>
        </div>
        <div class="stat-card rejected">
            <div class="stat-title">Rejected Request</div>
            <div class="stat-value Rejected">10</div>
        </div>
        <div class="stat-card pending">
            <div class="stat-title">Pending Request</div>
            <div class="stat-value Pending">10</div>
        </div>
    </div>

    <div class="leave-section">
        <div class="section-header">
            <h6>Leave Approval</h6>
            <span>All Request</span>
        </div>
        <table class="leave-table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sick Leave</td>
                    <td class="name">John Doe</td>
                    <td>15/01/2025</td>
                    <td>17/01/2025</td>
                    <td>High Fever</td>
                    <td><span class="status approved">Approved</span></td>
                    <td>
                        <mat-icon><span class="material-symbols-outlined visibility">visibility</span></mat-icon>
                        <mat-icon><span class="material-symbols-outlined delete">delete</span></mat-icon>
                    </td>
                </tr>
                <tr>
                    <td>Sick Leave</td>
                    <td class="name">John Doe</td>
                    <td>15/01/2025</td>
                    <td>17/01/2025</td>
                    <td>High Fever</td>
                    <td><span class="status rejected">Rejected</span></td>
                    <td>
                        <mat-icon><span class="material-symbols-outlined visibility">visibility</span></mat-icon>
                        <mat-icon><span class="material-symbols-outlined delete">delete</span></mat-icon>
                    </td>
                </tr> <tr>
                    <td>Sick Leave</td>
                    <td class="name">John Doe</td>
                    <td>15/01/2025</td>
                    <td>17/01/2025</td>
                    <td>High Fever</td>
                    <td><span class="status pending">Pending</span></td>
                    <td>
                        <mat-icon><span class="material-symbols-outlined visibility">visibility</span></mat-icon>
                        <mat-icon><span class="material-symbols-outlined delete">delete</span></mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <button class="page-btn boder">«</button>
            <button class="page-btn active">1</button>
            <button class="page-btn">2</button>
            <button class="page-btn">3</button>
            <button class="page-btn boder">»</button>
        </div>
        <div class="pages">Sowing 1 of 3 pages</div>
    </div>
</div>
