<div class="attendance-component">
    <div class="back">
        <a href="/attendance">Back</a>
    </div>
    <div class="main-content">
        <div class="pageHeader">
            <div class="titleAndDate">
                <h6>Attendance</h6>
                <span>{{ currentDate }}</span>
            </div>
            <div class="today">
                TODAY
            </div>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Take in</th>
                <th>Take Out</th>
                <th>Working Time</th>
                <th>Penalty</th>
                <th>Status</th>
            </tr>
            <tr>
                <td class="name">Kamal Perera</td>
                <td><span class="position">Software Engineer</span></td>
                <td>08.43 AM</td>
                <td>06:00 PM</td>
                <td>03.12.45 Hours</td>
                <td>+8 Hours/Week</td>
                <td><span class="working">Working</span></td>
            </tr>
            <tr>
                <td class="name">Kamal Perera</td>
                <td><span class="position">Software Engineer</span></td>
                <td>08.43 AM</td>
                <td>06:00 PM</td>
                <td>03.12.45 Hours</td>
                <td>+8 Hours/Week</td>
                <td><span class="working">Working</span></td>
            </tr>
            <tr>
                <td class="name">Kamal Perera</td>
                <td><span class="position">Software Engineer</span></td>
                <td>08.43 AM</td>
                <td>06:00 PM</td>
                <td>03.12.45 Hours</td>
                <td>+8 Hours/Week</td>
                <td><span class="working">Working</span></td>
            </tr>
            <tr>
                <td class="name">Kamal Perera</td>
                <td><span class="position">Software Engineer</span></td>
                <td>08.43 AM</td>
                <td>06:00 PM</td>
                <td>03.12.45 Hours</td>
                <td>+8 Hours/Week</td>
                <td><span class="working">Working</span></td>
            </tr>
            <tr>
                <td class="name">Kamal Perera</td>
                <td><span class="position">Software Engineer</span></td>
                <td>08.43 AM</td>
                <td>06:00 PM</td>
                <td>03.12.45 Hours</td>
                <td>+8 Hours/Week</td>
                <td><span class="working">Working</span></td>
            </tr>
        </table>
    </div>
</div>
