<div class="pendingRequestBack">
    <a href="/employee-management">Back</a>
</div>
<div class="pendingRequest-container">
    <div class="pendingRequest-count">
        <span>All Pending Requests : <span class="count">2</span></span>
    </div>
    <div class="userViewTable">
        <table>
            <tr>
                <th></th>
                <th>Email</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Agreement</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td><img src="https://portal.bilardo.gov.tr/assets/pages/media/profile/profile_user.jpg" alt="userProfile"></td>
                <td>tiyadone&#64;gmail.com</td>
                <td>Tiya Dom</td>
                <td>+94 71 000 1234</td>
                <td><a href="/approval-form" class="agreementView">View</a></td>
                <td><span class="approved">Approved</span></td>
            </tr>
            <tr>
                <td><img src="https://pics.craiyon.com/2023-07-09/5030cc54a72b4b71942a253f3ceb97b7.webp" alt="userProfile"></td>
                <td>kasunika&#64;gmail.com</td>
                <td>Tiya Dom</td>
                <td>+94 71 000 1234</td>
                <td><a href="/approval-form" class="agreementView">View</a></td>
                <td><span class="approve">Approve</span></td>
            </tr>
        </table>
    </div>
</div>
