<div class="employee-container">
    <div class="main-content">
        <div class="userProfile">
            <img src="https://portal.bilardo.gov.tr/assets/pages/media/profile/profile_user.jpg" alt="profileImage">
        </div>
        <div class="userName">
            <span>LahiruRasa</span>
        </div>
        <div class="name">
            <span>Software Engineer</span>
        </div>
        <div class="active-inactive">
            <span class="color"></span>
            <span>Active</span>
        </div>
        <div class="viewButton">
            <a href="/employee-profile" class="userViewButton">View</a>
        </div>
    </div>
</div>
