<div class="resignationPortal-container">

    <div *ngIf="isPopupVisible" class="popup-overlay">
        <div class="popup-content">
            <app-resignation-view (close)="closePopup()"></app-resignation-view>
        </div>
    </div>

    <div class="tabs">
        <button class="tab" *ngFor="let status of statuses" 
                [class.active]="status === selectedStatus" 
                (click)="onTabClick(status)">
            {{ status | titlecase }}
        </button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>User Role</th>
                <th>Submission</th>
                <th>Last Day</th>
                <th>Status</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredData">
                <td>{{ item.name }}</td>
                <td>{{ item.role }}</td>
                <td>{{ item.submission }}</td>
                <td>{{ item.lastDay }}</td>
                <td>
                    <span [ngClass]="'status-badge ' + getStatusClass(item.status)">
                        {{ item.status | titlecase }}
                    </span>
                </td>
                <td>
                    <mat-icon (click)="showPopup()"><span class="material-symbols-outlined">visibility</span></mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>